<h1>Cadê meu livro?</h1>

<br>
<br>
<%= link_to "Ache um livro", livros_path %> 
<br>
<br>
<%= link_to "Cadastre um livro", new_livro_path %>
<br>
<br>
<br>
<br>
<p>
Rails Girls SP 
<a href="https://en.wikipedia.org/wiki/Marlyn_Meltzer">Marlyn Wescoff</a>
</p>